/* ===== Media Queries ===== */
/* xlarge = 1380, large = 1200, medium 1024, small 768, xsmall 480. */
/**



Maybe try to make a linear gradient for the page going center to give a lil texture */
/* ===== Color Variables ====== */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

html,
body {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  background: #fff;
  color: #2f343f;
  /* same as navy, but darker */
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  position: relative;
  padding-bottom: 1rem;
}

/* ===== Global Styles ===== */
img {
  max-width: 100%;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.3rem;
  margin: 0 0 1.5rem 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Muli', Helvetica, sans-serif, monospace;
  color: #0c248f;
  padding: 0;
}

h3,
h4,
h5,
h6 {
  margin: 0 0 1rem 0;
}

a {
  color: #444;
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0 0 1rem 0;
}

.btn {
  color: #444;
  padding: .5rem .8rem;
  border: 1px solid #444;
  border-radius: 4px;
}

section {
  padding: 0 0 5rem 0;
}

.container {
  margin: 0 auto;
  padding: 0 3rem;
  height: auto;
  max-width: 1300px;
}

@media screen and (max-width: 768px) {
  .container {
    padding: .5rem 2rem;
  }
}

.page-title {
  color: #444C5C;
}

@media only screen and (min-width: 769px) {
  .page-title {
    margin: 1rem;
  }
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-blue {
  color: #0c248f;
}

.list-style-none {
  list-style-type: none;
}

.indent {
  padding-left: 2rem;
}

.ml {
  margin-left: 1rem;
}

.mr {
  margin-right: 1rem;
}

.no-padding {
  padding: 0;
}

img.img-rounded {
  -webkit-clip-path: polygon(4% 0, 100% 0, 96% 100%, 0% 100%);
          clip-path: polygon(4% 0, 100% 0, 96% 100%, 0% 100%);
}

.section-header {
  text-align: center;
  padding: 2rem 0 1rem 0;
}

/* ===== global flex box styles ===== */
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media only screen and (max-width: 768px) {
  .flex-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

/* ===== Top Navigation Menu ===== */
nav {
  width: 100%;
}

nav .nav-site-title {
  font-family: 'Muli';
  margin: 0;
}

nav .nav-links {
  list-style-type: none;
}

nav .nav-links .nav-link {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

nav .nav-links .nav-link a {
  display: block;
  margin: 0 5px;
  padding: 5px 10px;
}

nav .nav-links .nav-link a:hover {
  color: #0c248f;
}

main {
  margin: 5rem 0 2rem;
}

main .welcome-wrapper {
  max-width: 80%;
  margin: 0 auto;
  padding-left: 2rem;
  padding-right: 2rem;
}

main .welcome-wrapper .landing-text {
  max-width: 50%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .welcome-wrapper .landing-text p {
  font-size: 1.3rem;
  line-height: 1.8rem;
}

main .welcome-wrapper .landing-image {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

main .welcome-wrapper .landing-image img {
  max-width: 225px;
  border-radius: 2px;
}

main .services {
  max-width: 80%;
  margin: 0 auto;
}

main .services .services-wrapper {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

main .services .services-wrapper .services-title {
  margin: 0 10% 0 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 10%;
          flex: 0 1 10%;
}

main .services .services-wrapper .services-title img {
  max-width: 250px;
}

main .services .services-wrapper .services-title h1 {
  color: #222;
}

main .services .services-wrapper .services-text {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 80%;
          flex: 0 1 80%;
}

main .services .services-wrapper .services-text .services-col {
  padding-right: 2rem;
}

main .services .services-wrapper .services-text .services-col li {
  font-size: 1.2rem;
  line-height: 2rem;
}

main .tools {
  max-width: 90%;
}

main .tools .tool {
  padding: 1rem;
  margin: .5rem;
  font-weight: bold;
  white-space: nowrap;
  /*  box-shadow: 0px 1px 1px $color-gray; */
  border-radius: 1px;
}
/*# sourceMappingURL=style.css.map */