
/* ===== Media Queries ===== */
/* xlarge = 1380, large = 1200, medium 1024, small 768, xsmall 480. */
/**



Maybe try to make a linear gradient for the page going center to give a lil texture */


* {
    box-sizing: border-box;
    text-decoration: none;
    margin: 0;
    padding: 0;
  }
  
  html,
  body {
    scroll-behavior: smooth;
    height: 100%;
  }
  
  body {
    background: #fff;
    color: rgb(47, 52, 63);
    /* same as navy, but darker */
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    position: relative;
    padding-bottom: 1rem;
  }

/* ===== Global Styles ===== */
img {
max-width: 100%;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.3rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Muli', Helvetica, sans-serif, monospace;
    color: #0c248f;
    margin: 0 0 1rem 0;
    padding: 0;
}

a {
    color: #ccc;
    text-decoration: none;
}

p {
    padding: 0;
    margin: 0 0 1rem 0;
}

.btn {
    color: #0c248f;
    padding: .5rem .8rem;
    border: 1px solid #0c248f;
    border-radius: 4px;
}

section {
    padding: 5rem 0;
}

.container {
    margin: 0 auto;
    padding: 0 3rem;
    height: auto;
    max-width: 1300px;
}

@media screen and (max-width: 768px) {
    .container {
         padding: .5rem 2rem;
    }
}

.page-title {
    color: #444C5C;
}

@media only screen and (min-width: 769px) {
    .page-title {
         margin: 1rem;
    }
}

.text-center {
    text-align: center;
}
.text-left {
    text-align: right;
}

.text-blue {
    color: #0c248f;
}

.list-style-none {
    list-style-type: none;
}

.indent {
    padding-left: 2rem;
}

.ml {
    margin-left: 1rem;
}
.mr {
    margin-right: 1rem;
}

img.img-rounded {
    border-radius: 100%;
}

.section-header {
    text-align: center;
    padding: 2rem 0 1rem 0;
}

/* ===== global flex box styles ===== */
.flex {
    display: flex;
}

.flex-wrap {
    display: flex;
    width: 100%;
}

.wrap {
    flex-wrap: wrap;
}

.flex-row {
    flex-direction: row;
}

.space-between {
    justify-content: space-between;
}

@media only screen and (max-width: 768px) {
    .flex-row {
         flex-direction: column;
    }
}



/* ===== Top Navigation Menu ===== */
nav {
    width: 100%;

    .nav-site-title {
        font-family: 'Muli';
        margin: 0;
    }

    .nav-links {
        list-style-type: none;

        .nav-link {
            justify-content: center;
            align-items: flex-end;
            
            a {
                display: block;
                margin: 0 5px;
                padding: 5px 10px;

                &:hover {
                    color: #0c248f;
                }
            }
        }
    }
}
main {
    margin: 5rem 0 2rem;

    .welcome-wrapper {
        max-width: 80%;
        margin: 0 auto;
        padding: 0 2rem;
    
        .landing-text {
            max-width: 50%;
            flex-direction: column;
            justify-content: center;

            h2 {
                font-size: 2rem;
                margin-bottom: .5rem;
            }
            p {
                font-size: 1.3rem;
                line-height: 1.8rem;
            }
        }
        .landing-image {
            transform: rotate(5deg);

            img {
                max-width: 250px;
            }
        }
    }

    .services {
        max-width: 80%;
        margin: 0 auto;

        .services-wrapper {
            justify-content: flex-end;

            .services-title {
                margin: 0 20% 0 0;
                flex: 0 1 60%;

                img {
                    max-width: 250px;
                }

                h1 {
                    color: #222;
                }
            }

            .services-text {
                flex: 0 1 40%;
            }
        }
    }
}